body{
     margin:0;
     padding:0;
     text-align:center;
     background:url(pic5.jpg);
     background-size:cover;
     background-position:center;
     font-family:sans-serif:cursive;
}
.feedback-title
{
      margin-top:100px;
      color:black;
      text-transform:uppercase;
      transition:all 1s ease-in-out;
}
.feedback-title h1{
      font-size:32px;
      line-height:10px;`
}
.feedback-title h2{
      font-size:16px;
}
form
{
    margin-top:50px;
    transition:all 1s ease-in-out;
}
.form-control
{
    width:600px;
    background:transparent;

    border:none;
    outline:none;
    border-bottom:1px solid black;
    color:#fff;
    font-size:18px;
    margin-bottom:16px;
}
input
{
height:45px;
}
form .submit
{
background:#ff5722;
border-color:transparent;
color:#fff;
font-size:20px;
font-weight:bold;
letter-spacing:2px;
height:50px;
margin-top:20px;

}
form .submit:hover
{
     background-color:#f44336;
     cursor:pointer;
   opacity:1;
}









